boto3==1.24.66
clearml @ git+https://github.com/muhammadAgfian96/clearml.git@3f4d15d15910a938e6bb76c32cbf81dc5df05827
timm==0.6.7
torch==1.12.1
pytorch-lightning==1.7.4
opencv-python-headless==4.6.0.66
albumentations==1.2.1
pandas
matplotlib
ipython
tqdm
plotly
nbformat
rich