albumentations==1.3.0
boto3
clearml==1.9.3
finetuning_scheduler==0.4.0
matplotlib==3.7.1
minio==7.1.13
numpy==1.22.3
opencv_python_headless==4.7.0.72
pandas==1.5.3
Pillow==9.4.0
plotly==5.13.1
pytorch_lightning==1.9.0
PyYAML==6.0
rich==13.3.2
scikit_learn==1.2.2
timm==0.6.12
torch==1.13.1
torchmetrics==0.11.4
tqdm
ipython
seaborn
onnx
GPUtil
onnxruntime